@import 'variables';

// h1 {
//     color: $red-color;
// }

// h2 {
//     color: green;
// }

.user-avater {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.checkbox-select-all-options
{
    width: 160px;
}

.test11{
    text-decoration: none;
    color: green;
}