{{#if success }}
    <div class="alert alert-success" role="alert">
    <strong>Chúc mừng!</strong> Bạn đã đăng kí tài khoản mua hàng thành công.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>

  {{ else }}
   {{#if errors }}
       <section class="errors">
        <ul>
          {{#each errors }}
         <div class="alert alert-danger" role="alert">
          {{this.msg}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
         {{/each}}
    </ul>
  </section>
{{/if}}
{{/if}}

<div class="mt-4">
    <h3>ĐĂNG KÍ TÀI KHOẢN</h3>
    
<form method="POST" action="/buyer/store">
  <div class="form-group">
    <label for="email-input">Email</label>
    <input type="email" class="form-control" id="username" name="username" placeholder="Nhập email">
  </div>
  <div class="form-group">
    <label for="password-input">Mật khẩu</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">ĐĂNG KÍ</button>
</form>
</div>