<div class="mt-4">
    <div class="d-flex justify-content-center">

      <h3 class="form-title">ĐƠN ĐẶT HÀNG</h3>
    </div>

    <form method="POST" action="/order/store" class="form-create-now">
         <div class="form-group">
    <label for="name">Họ tên người nhận</label>
    <input type="text" class="form-control" id="name" name = "name" required>
  </div>

  <div class="form-group">
    <label for="address">Địa chỉ nhận hàng</label>
    <input type="text" class="form-control" id="address" name = "address" required>
  </div>

  <div class="form-group">
    <label for="addresspm">Địa chỉ thanh toán</label>
    <input type="text" class="form-control" id="addresspm" name = "addresspm" required>
  </div>

  <div class="form-group">
    <label for="phone">Số điện thoại</label>
    <input type="number" class="form-control" id="phone" name = "phone" required>
  </div>

  <div class="form-group">
    <label for="productname">Sản phẩm</label>
    <input type="text" class="form-control" value="{{cart.productname}}" id="productname" name = "productname">
  </div>

  <div class="form-group">
    <label for="cartID">Cart ID</label>
    <input type="text" class="form-control" value="{{cart._id}}" id="cartID" name = "cartID">
  </div>

  <div class="form-group">
    <label for="quantity">Số lượng</label>
    <input type="text" class="form-control" value="{{cart.quantity}}" id="quantity" name = "quantity">
  </div>

  <div class="form-group">
    <label for="totalprice">Tổng tiền</label>
    <input type="text" class="form-control" value="{{cart.totalprice}}" id="totalprice" name = "totalprice">
  </div>
  

  <button type="submit" class="btn btn-primary">Đặt hàng</button>
    </form>

</div>