.header-up{
    width: 100%;
    height: 34px;
    background-image: linear-gradient(0,#FE6433,#F63E2E);
    


}
.header__navbar{
    display:flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left:0 ;
    margin: 8px 0 0 0;
    display: flex;
    align-items: center;
}
.header__navbar-item{
    margin: 0 8px;
    list-style: none;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    position: relative;
}
.header__navbar-user{
    display:flex;

   align-items: center ;
   position: relative;
   justify-items: center;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-name{
    font-size: 1.4rem;
    margin-left: 4px;
}
.header__navbar-user-img{
    width: 22x;
    height: 22px; 
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.1);

}

.header__navbar-user-menu{
    list-style: none;
    position: absolute;
    z-index: 1;
    background-color: var(--white-color);
    top: 30px;
    right: -50px;
    width: 180%;
    padding-left: 0px;
    border-radius: 3px;
    box-shadow: 1px 2px 2px var(--border-color);
    display: none;
    
}
.header__navbar-user-menu::before{
    content: "";
    border-width: 10px 20px;
    position: absolute;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid ;
    top: -20px;
    right: 54px;
    
}

.header__navbar-user-menu::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 15px;
    background-color: transparent;
    top: -15px;
}

.header__navbar-user-item{
    padding: 8px 0;
    text-align: center;
    
}

.header__navbar-user-item:hover{
    background-color: #e5e2e2;
    cursor: pointer;
}
.header__navbar-user-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__navbar-user-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__navbar-user-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
   
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
.header__navbar-item:hover,.header__navbar-item-link:hover{
    opacity: 1;
    cursor: pointer;
}
.has-hover:hover{
    opacity: 0.8;
}
.header__navbar-item-link,.header__navbar-icon{
    display: inline-flex;
    align-items: center;

}
.header__navbar-item-link{
    list-style: none;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item-link--strong{
    font-weight: 450;
}

.header__navbar-item--separate::after{
    content:"";
    display: block;
    position: absolute;
    background-color: #FC9285;
    width: 1px;
    height: 16px;
    right: -10px;
    top:50%;
    transform: translateY(-50%);


}
.header__navbar-icon-link{
    font-size: 1.6rem;
    color : var(--white-color);
    padding-left: 6px;
}
.header__navbar-title--no-pointer{
    color: var(--white-color);
    opacity: 1;
    cursor: text;
}

/*HEADER QR CODE*/
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    top: 110%;
    left: 0;
    padding: 8px;
    border-radius: 4px;
    display: none;
    z-index: 1;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    animation:  FadeIn ease-in-out 0.5s;
}

.header__qr::before{
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    height: 14%;
    background-color: transparent;
    top: -10px;
    left: 0px;
}
@keyframes FadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.header__qr-img{
    width: 100%;

}
.header__qr-apps{
    display: flex;
    
    
}

.header__qr-download-img{
    width: 90%;
    
}
/* Header Notification */
.header__notify{
    position: absolute;
    z-index: 1;
    top: 140%;
    width: 404px;
    height: 330px;
    background-color: #FFFF;
    right: 0;
    border: 1px solid #D3D3D3;
    margin: 0;
    display: none;
    cursor:pointer;
    will-change: opacity, transform;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotify ease-in 0.2s;

    
}

.header__notify::after{
    content:"";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 0px;
   
}
@keyframes headerNotify {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-first{
    margin: 0px;
    padding-left: 12px ;
}
.header__notify-header{

    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    background-color: #ffffff;
    color: #777888;
    line-height: 40px;

    top:0;
}
.header__notify-list{
    padding-left:0;
    background-color: #ffffff;
    border: solid 1px #f3f3f7;
    list-style: none;
}

.header__notify-link{
    display: flex;
    
    padding-left: 12px;
    color: #0c0c0c;
    height: 60px;
    align-items: center;
    text-decoration: none;

}
.header__notify-img{
    height: 100%;
    
    object-fit: contain;
    

}
.header__notify-info{
    height: 100%;
    padding: 0 10px;
      

}
.header__notify-name{
   
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 10px;
    display: block;
    line-height: 2.5rem;
 


    


}
.header__notify-description{
  
    font-size: 1rem;
    display: block;
    line-height: 10px;
   
 



}
.header__notify-list:hover{
    background-color: #f3f3f7;
    opacity: 0.95;
}
.header__notify-footer{
    display: flex;
    padding-left: 0px;
       
}
.header__notify-footer-btn{
    text-decoration: none;
    color: #333;
    font-weight: 300;
    
    padding: 0px 48px;
    margin : auto;
}
.header__notify-footer-btn:hover{
    background-color: #f3f3f7 ;
    opacity: 0.95;
}
.header__notify::before{
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    height: 14%;
    background-color: transparent;
    top: -10px;
    left: 0px;
}
.has-notify:hover .header__notify{
    display: block;
}


/* header down */
.header-down{
    background-color: var(--white-color);

}
.header-down__logo{
    width: 130px;
    height: 46px;
    position: relative;
    top: -4px;
}

.header-down__text{
    padding: 5px 20px;
    border-left: 1px solid var(--primary-color);
    font-size: 2rem;
    color: var(--primary-color);
}


.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex-basis:50%;
    border-radius: 2px;
    display: flex;
    align-items: center;
    
}
.header__cart{
    width: 150px;
    text-align: center;
}
.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}
.header__search-input--wrap{
    flex:1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width:100%;
    height: 100%;
    font-size: 1.4rem;
    outline: none;
    border: 2px solid var(--primary-color);
    padding: 0 16px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    
}
.header__search-select{
    border-left: 1px solid var(--border-color);
    padding: 0 16px;
    display: flex;
    align-items: center;
    width: 15%;
    cursor: pointer;
    position: relative;
}

.header__search-select:before{
    content:"";
    display: block;
    position:absolute;
    height: 20px;
    width: 100%;
    background-color:transparent;
    top : 20px;
    right: 0px;
}


.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 8px;
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-btn{
    height: 100%;
    width: 15%;
    border: none;
    padding: 0 0;
    background-color: #fb6455;
    cursor: pointer;
    outline: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
   
}

.header__search-btn:hover{
    opacity: 0.9;
}
.header__search-btn-icon{
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__search-option{

    position: absolute;
    right: -5px;
    top: 30px;
    width: 125px;
    padding-left: 0px;
    margin: 0;
    z-index: 1;
    display: none;
    

}
.header__search-select:hover .header__search-option{
    display: block;
    animation: FadeIn ease-in 0.2s;
}


.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px 8px;
    list-style: none;
   
    box-shadow: 1px 1px 2px var(--border-color);



}
.header__search-option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


.header__search-option-item:hover{

    background-color: #f1dcdc;
}
.header__search-option-item span{

    padding: 0 8px;
    color: var(--text-color);
    font-size: 1.3rem;
}

.header__search-option-item i{
    color: var(--primary-color);
    font-size: 1.3rem;
    display: none;

}

.header__search-option-item--active i{
    display: inline-block;
}

/* Search History */

.header__search-history{

    position: absolute;
    width: calc(100% - 16px);
    top: calc(100% + 2px);
    left: 0;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    box-shadow: 1px 1px 5px var(--border-color);
    z-index: 1;
    display: none;
}

.header__search-history:before{
    content:"";
    position: absolute;
    top: -5px;
    height: 10px;
    width: 100%;
    background-color: transparent;
}
.header__search-history-list{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    
}

.header__search-history-heading{
    color: #bdbaba;
    margin: 8px 12px 0px;
    font-size: 1.4rem;
    font-weight: 500;
}

.header__search-history-item{
    height: 32px;
    padding: 0 12px;
    font-size: 1.4rem;
    line-height: 32px;

}
.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item:last-child{
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}

.header__search-history-item a{
   
    text-decoration: none;
    color: var(--text-color);
    display: block;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}

.first-box{
    display: flex;
     align-items: center; 
     background-color: #fffefb;
     border:1px solid rgba(224, 168, 0, 0.4);
     height: 42px;
     margin-top: 10px;
     padding: 12px 16px;
     font-size: 1.4rem;
     color: var(--text-color);
}
.first-box-icon{
    margin-right: 10px;
}
.app{
    background-color: #f5f5f5;
}
.container-cart{
    padding-top: 10px;
}

.cart-page-product-header{
    height: 55px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    background-color: var(--white-color);
    padding: 10px 20px;
    margin: 10px 0;
    color: var(--text-color);
}
.cart-item__cell-checkbox{
    width: 3%;
}

.cart-page-product-header__product{
    width: 45%;
}

.cart-page-product-header__unit-price{
    width: 15%;
}

.cart-page-product-header__quantity{
    width: 10%;
}

.cart-page-product-header__total-price{
    width: 15%;
}

.cart-page-product-header__action{
    width: 12%;
}
.cart-page-product-section__header{
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 1.4rem;
    background-color: var(--white-color);
    padding: 0 20px
}

.cart-page-product-section__header-checkbox{
    width: 3%;
}

.cart-page-product-section__header-icon{
    
}

.cart-page-product-section__header-name{
    margin: 0 10px;
}

.cart-item-product__img{
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}


.quantity__box-button{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 300;
    
}

.quantity__box-button--sub{
    padding: 7px 12px;
   
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
}

.quantity__box-button--label{
    padding: 7px 16px;
   
    
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    

}

.quantity__box-button--add{
    padding: 7px 12px;

    background-color: var(--white-color);
    border: 1px solid var(--border-color);

}

.cart-item{
    font-size: 1.4rem;

}

.cart-item-content{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--border-color);
}
.cart-item-content:first-child{
    border-top: 1px solid var(--border-color);
}
.cart-item-checkbox{
    width: 3%;
}

.cart-item-product{
    width: 45%;
    display: flex;

}

.cart-item-product__name{
    margin-top: 10px;
    margin-left: 8px;
    overflow: hidden;
    height: 4rem;
    line-height: 2rem;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.cart-item-price{
    width: 10%;
    display: flex;
    justify-content: left;
}
.cart-item-price__label{

}

.cart-item-price__text{

}
.cart-item-quantity{
    width: 15%;
  

}
.quantity__box-button{
    display: flex;
    justify-content: center;
}
.quantity__box-button--sub{

}
.quantity__box-button--label{

}
.quantity__box-button--add{

}
.cart-item-total-price{
    width: 16%;
    display: flex;
}
.cart-item-total-price__label{

}

.cart-item-total-price__text{

}
.cart-item-action{
    width: 10%;

}
.btn-buy{
    font-weight: 300;
    width: 15%;
}
.cart-page-product-section__buy{
    padding: 10px 20px;
    background-color: var(--white-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    font-size: 1.4rem;
    margin-bottom: 20px;
    
}


/* Footer */
footer{
    background-color: var(--white-color);
    border-top: 4px solid var(--primary-color);

}
.grid__row--footer{
    margin-top: 32px;
    margin-bottom: 32px;
}
.footer__heading{
    margin: 16px 0;
    text-align: left;
    color: rgba(0,0,0,0.54);
    font-size: 1.4rem;
    font-weight: 500;
}

.footer__list{
    list-style: none;
    display: flex;
    padding-left: 0;

}
.footer__list-item{

}
.footer__list-item-link{
    display: block;
    text-decoration: none;
    text-align: left;
    color: rgba(0,0,0,0.54);
    font-size: 1.2rem;
    padding: 8px 0;

}
.footer__list-item-link:hover{
    color: var(--primary-color);
}

.footer__list-item-link--img{

}
.footer__list-item--download{
    display: flex;
}
.footer__list-item--download img{
    width: 90px;
    height: 90px;
}