
.app-content{
    background-color: #f6f6f6;
}

.app-content-1{
    width:100%;
    height: 100%;
    /* margin-top:10px; */
    padding: 20px 40px;
    background-color: var(--white-color);
  
    color: var(--text-color-1);

    box-shadow: 1px 1px 1px 1px #e2e2e2;
}
.app-content-2{
    background-color: var(--white-color);
    margin-top: 10px;
  
    box-shadow: -1px -1px 10px 1px #e0dede;
}
.app-content-3{
    
    width: 100%;
    font-size: 1.4rem;
}
.app-content-4{
    margin:10px 0;
    width:100%;
}
.app-content-5{
    width:100%;
}
.col1{
  
    margin: 10px 0;
    box-shadow: -1px -1px 10px 1px #e0dede;
}
.category1 a{
    /* background-color: var(--white-color) !important; */
    border-radius: 2px;
    width: 100%;
    font-size: 1.6rem;
    color: var(--text-color) !important;  

}
.category1 a:hover{
    color: var(--primary-color) !important;
    transform: translateX(2px);
}
.app__content{
    padding-top: 36px;
}

.category__heading{
    font-size: 1.6rem;
    padding: 12px 16px;
    
    margin: 0 0;
    font-weight: 500;

}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list{
    list-style: none;
    padding: 0  0 8px 0;
    margin-left: 9px;
}



.category-item--active .category-item__link{
    color: var(--primary-color);

}
.category-item--active .category-item__link::before{
    position: absolute;
    content: "";
    border-style: solid ;
    border-width: 4px 4px;
    border-color: transparent transparent  transparent var(--primary-color) ;
    left: 5px;
    top: 50%;
    transform: translateY(calc(-50%));
}
.category-item__link{
    position: relative;
    right: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
    transition: right linear 0.1s;
  
}
/* .category-item__link::after{
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--border-color);
    bottom: 0;
    left: 16px;
    width: 77%;

} */
.category-item__link:hover{
    color : var(--primary-color);
    right: -4px;
}

.category__info{
    display: flex;
    width: 100%;
    height: 81px;
    align-items: center;
    justify-content:center;
}
.category__info .info-image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.category__info .info-name{
    font-size: 1.4rem;
    margin-left: 10px;
}

.btn:focus{
    box-shadow: none !important;
}
.manage-product-tab{
    border-bottom: solid 1px var(--border-color);
    
    width: 100%;
    font-size: 1.4rem;
    padding: 10px 10px 0 10px;
}

.btn-tab:hover{
    color: var(--primary-color);
}
.btn-tab:focus{
    border-bottom: solid 4px var(--primary-color) ;
}

.manage-product-order{
    font-size: 1.4rem;
    
}
.manage-product-search{
    width: 50%;
}
.manage-product-search__input{
    width: 50%;
    height: 30px;
    display: flex;
    border: solid 1px var(--border-color);
}
.manage-product-search__input-1{
    flex:1;
}
.manage-product-search__input-2{
   flex-basis: 10%;
}
.manage-product-search__icon{
    font-size: 1.4rem;
    padding: 7px 7px;
   

}
.input-date{
    height: 30px;
}
.search-input{
    width: 100%;
    height: 100%;
}

.table-manage-product{
    width: 100%;
}
.orders-label{
    font-size:2rem;
    font-weight: 600;
    color: var(--text-color);
}