/* Header */
.header__logo-img{
    width: 150px;
    
}
.row__header{
    height: 84px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.header-box{
    display: flex;
    align-items: center;
  
}

.header-box__icon{
    margin-right: 20px;
    position: relative;
    top:    -5px;
}

.header-box__label{
    font-size: 2.6rem;
}

.label-help{
    font-size: 1.6rem;
    color: var(--primary-color);
}

.container-main{
    width: 100%;
    height: 700px;
    background-color: rgb(238,77,45);
    display: flex;
    justify-content: center;
}

.component-img{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 1200px;
   
   
}


/* Authen Modal */

.auth-form{
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: calc(15%);
    
   
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);

}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 16px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;

}

.auth-form__input:focus{
    border-color: #888888 ;

}

.auth-form__aside{
    margin-top: 18px;
    font-size: 1.2rem;
}
.auth-form__policy-text{
    line-height: 1.8rem;
    text-align: center;

}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);


}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    
    margin-top: 24px;

}

.auth-form__socials-facebook{
    background-color: #3A5A98 ;
    color: var(--white-color);
}
.auth-form__socials-google{
    background-color: var(--white-color);
    color: var(--text-color);
}

.auth-form__socials-title{
    margin: 0 36px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;

}

.auth-form__help{
    display: flex;
    justify-content: flex-end;

}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.6rem;
    color: #939393;
}
.auth-form__help-separate{
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin: -3px 16px 0px;
}
.auth-form__help-forgot{
    color: var(--primary-color);
}

.auth-form__switch{
    text-decoration: none;
}



/* Footer */
footer{
    background-color: var(--white-color);
    border-top: 4px solid var(--primary-color);

}
.grid__row--footer{
    margin-top: 32px;
    margin-bottom: 32px;
}
.footer__heading{
    margin: 16px 0;
    text-align: left;
    color: rgba(0,0,0,0.54);
    font-size: 1.4rem;
    font-weight: 500;
}

.footer__list{
    list-style: none;
    display: flex;
    padding-left: 0;

}
.footer__list-item{

}
.footer__list-item-link{
    display: block;
    text-decoration: none;
    text-align: left;
    color: rgba(0,0,0,0.54);
    font-size: 1.2rem;
    padding: 8px 0;

}
.footer__list-item-link:hover{
    color: var(--primary-color);
}

.footer__list-item-link--img{

}
.footer__list-item--download{
    display: flex;
}
.footer__list-item--download img{
    width: 90px;
    height: 90px;
}