/* Footer */
.footer1{
    background-color: var(--white-color);
    border-top: 4px solid var(--primary-color);

}
.grid__row--footer{
    margin-top: 32px;
    margin-bottom: 32px;
}
.footer__heading{
    margin: 16px 0;
    text-align: left;
    color: rgba(0,0,0,0.54);
    font-size: 1.4rem;
    font-weight: 500;
}

.footer__list{
    list-style: none;
    display: flex;
    padding-left: 0;

}
.footer__list-item{

}
.footer__list-item-link{
    display: block;
    text-decoration: none;
    text-align: left;
    color: rgba(0,0,0,0.54);
    font-size: 1.2rem;
    padding: 8px 0;

}
.footer__list-item-link:hover{
    color: var(--primary-color);
}

.footer__list-item-link--img{

}
.footer__list-item--download{
    display: flex;
}
.footer__list-item--download img{
    width: 90px;
    height: 90px;
}