
/* Authen Modal */

.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
   
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);

}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 16px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;

}

.auth-form__input:focus{
    border-color: #888888 ;

}

.auth-form__aside{
    margin-top: 18px;
    font-size: 1.2rem;
}
.auth-form__policy-text{
    line-height: 1.8rem;
    text-align: center;

}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);


}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    
    margin-top: 24px;

}

.auth-form__socials-facebook{
    background-color: #3A5A98 ;
    color: var(--white-color);
}
.auth-form__socials-google{
    background-color: var(--white-color);
    color: var(--text-color);
}

.auth-form__socials-title{
    margin: 0 36px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;

}

.auth-form__help{
    display: flex;
    justify-content: flex-end;

}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.6rem;
    color: #939393;
}
.auth-form__help-separate{
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin: -3px 16px 0px;
}
.auth-form__help-forgot{
    color: var(--primary-color);
}

/* App container */
.app__container  {
    background-color: #f5f5f5;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
    
}

.app__content{
    padding-top: 36px;
}

.category__heading{
    font-size: 1.6rem;
    padding: 12px 16px;
    
    margin: 0 0;
    font-weight: 500;

}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list{
    list-style: none;
    padding: 0  0 8px 0;
    margin-left: 9px;
}



.category-item--active .category-item__link{
    color: var(--primary-color);

}
.category-item--active .category-item__link::before{
    position: absolute;
    content: "";
    border-style: solid ;
    border-width: 4px 4px;
    border-color: transparent transparent  transparent var(--primary-color) ;
    left: 5px;
    top: 50%;
    transform: translateY(calc(-50%));
}
.category-item__link{
    position: relative;
    right: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
    transition: right linear 0.1s;
  
}
.category-item__link::after{
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--border-color);
    bottom: 0;
    left: 16px;
    width: 77%;

}
.category-item__link:hover{
    color : var(--primary-color);
    right: -4px;
}

/* Home sort + filter */

.home-filter{
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.05);
}

.home-filter__page{

    display: flex;
    align-items: center;
}

.home-filter__label{
   font-size: 1.4rem;
   color: #555;
   margin-right: 16px;
}

.home-filter__btn{
    margin-right: 12px;
    min-width: 90px;
}



.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.4rem;
}

.home-filter__page{
    margin-left: auto;
    width: 12%;
    display: flex;
    justify-content: space-between;
}

.home-filter__page-num{
    font-size: 1.6rem;
    font-weight: 500;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    display: flex;
    align-items: center;
    
}

.home-filter__page-btn{
    background-color: var(--white-color);
    width: 30px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    display: flex;
    text-decoration: none;
    flex:1;
    
}

.home-filter__page-btn1{
    background-color: var(--white-color);
    width: 30px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    display: flex;
    text-decoration: none;
    flex:1;
    
}

.home-filter__page-btn-icon{
    font-size: 1.6rem;
    margin: auto;
    color: var(--text-color);
    
}

.home-filter__page-btn:hover .home-filter__page-btn-icon{
    color: var(--primary-color);
    
}
.home-filter__page-btn--disable{
    background-color: #f6f2f2;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-btn-icon{
    color: var(--text-color)  !important;
}

/* Home Product */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-bottom-left-radius: 2px ;
    border-bottom-right-radius: 2px ;
    box-shadow: 0.2rem 0.3rem 0.5rem 0 rgba(0,0,0,0.1);
    transition: transform ease-in 0.1s;
}

.home-product-item:hover{
    box-shadow: 0.2rem 0.3rem 2rem 0 rgba(0,0,0,0.05);
    transform: translateY(-2px);
}

.home-product-item__img{
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;

}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;

}
.home-product-item__price{
    display: flex;
    align-items: baseline;
    margin-left: 10px;
    font-size: 1.4rem;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    text-decoration: line-through;
    color: var(--text-color);
    padding-right: 8px;

}
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);

}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
    color: var(--text-color);
}
.home-product-item__like{
    font-size: 1.3rem;
}
.home-product-item__rating{
    font-size: 0.8rem;
    color: #d5d5d5;
    margin-left: auto;
    margin-top: -1px;
}
.home-product-item__origin{
    margin:8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
    padding-bottom: 4px;
}
.home-product-item__brand{
    
}

i.home-product-item__liked-icon{
    display: none;
    color: #F63D30;
}
.home-product-item__liked .home-product-item__liked-icon{
    display: inline-block;
}


.home-product-item__liked .home-product-item__like-icon{
    display: none;
}

.home-product-item__star--gold{
    color: var(--star-gold-color);
}

.home-product-item__sold{
    font-size: 1.2rem;
    padding-left: 8px;

}
.home-product-item__favourite{
    position: absolute;
    width: 72px;
    height: 16px;
    font-size: 1.2rem;
    color: var(--primary-color);
    background-color: currentColor;
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px ;
    
    top:10px;
    left: -4px;
   
    
}

.home-product-item__favourite span{
    color: var(--white-color);
}

.home-product-item__favourite::before{
    content: "";
    position: absolute;
    border-top: 4px solid currentColor;
    border-left: 3px solid transparent;

    filter: brightness(60%);
    left: 0;
    top: 100%;

}

.home-product-item__favourite i{
    font-size: 0.8rem;
    margin: 0px 4px;
    position: relative;
    top: -1px;
    color: var(--white-color);
}

.home-product-item__sale-off{
    position: absolute;
    width: 40px;
    height: 38px;
    background-color: rgba(255, 216, 64, 0.9);
    color: var(--white-color);
    top:0;
    right: 0;
    text-align: center;
    padding: 4px 2px;
}
.home-product-item__sale-off::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.9) transparent rgba(255, 216, 64, 0.9) ;
}
.home-product-item__sale-off-percent{
    color: red;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
}

.home-product-item__sale-off-label{
    font-size: 1.4rem;
    font-weight: 500;
}

.home-product__pagination{
    margin: 48px 0 32px 0;
}

.home-filter__page-num div{
    margin-right: 4px;
}