
.app-content{
    background-color: #f6f6f6;
}
.app-content0{
    
}
.app-content-1{
    width:100%;
    height: 100%;
  
    color: var(--text-color-1);

    box-shadow: 1px 1px 1px 1px #e2e2e2;
}
.app-content-2{
    background-color: var(--white-color);
    margin-top: 10px;
  
    box-shadow: -1px -1px 10px 1px #e0dede;
}
.app-content-3{
    
    width: 100%;
    font-size: 1.4rem;
}
.app-content-4{
    margin:10px 0;
    width:100%;
}
.app-content-5{
    width:100%;
}
.col1{
  
    margin: 10px 0;
    box-shadow: -1px -1px 10px 1px #e0dede;
}
.category a{
    /* background-color: var(--white-color) !important; */
    border-radius: 2px;
    width: 100%;
    font-size: 1.6rem;
    color: var(--text-color) !important;  

}
.category a:hover{
    color: var(--primary-color) !important;
    transform: translateX(2px);
}
.app__content{
    padding-top: 36px;
}

.category__heading{
    font-size: 1.6rem;
    padding: 12px 16px;
    
    margin: 0 0;
    font-weight: 500;

}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}

.category-list{
    list-style: none;
    padding: 0  0 8px 0;
    margin-left: 9px;
}



.category-item--active .category-item__link{
    color: var(--primary-color);

}
.category-item--active .category-item__link::before{
    position: absolute;
    content: "";
    border-style: solid ;
    border-width: 4px 4px;
    border-color: transparent transparent  transparent var(--primary-color) ;
    left: 5px;
    top: 50%;
    transform: translateY(calc(-50%));
}
.category-item__link{
    position: relative;
    right: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
    transition: right linear 0.1s;
  
}
/* .category-item__link::after{
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--border-color);
    bottom: 0;
    left: 16px;
    width: 77%;

} */
.category-item__link:hover{
    color : var(--primary-color);
    right: -4px;
}

.category__info{
    display: flex;
    width: 100%;
    height: 81px;
    align-items: center;
    justify-content:center;
}
.category__info .info-image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.category__info .info-name{
    font-size: 1.4rem;
    margin-left: 10px;
}

.btn:focus{
    box-shadow: none !important;
}
.manage-product-tab{
    border-bottom: solid 1px var(--border-color);
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.4rem;
    padding: 10px 10px 0 10px;
}

.btn-tab:hover{
    color: var(--primary-color);
}
.btn-tab:focus{
    border-bottom: solid 4px var(--primary-color) ;
}
/* Cart product section */

.cart-page-product-section__header{
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 1.4rem;
    background-color: var(--white-color);
    padding: 0 20px
}

.cart-page-product-section__header-checkbox{
    width: 3%;
}



.cart-page-product-section__header-name{
    margin: 0 10px;
}

.cart-item-product__img{
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

.cart-item{
    font-size: 1.4rem;

}

.cart-item-content{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--border-color);
}
.cart-item-content:first-child{
    border-top: 1px solid var(--border-color);
}
.cart-item-checkbox{
    width: 3%;
}

.cart-item-product{
   flex:1;
    display: flex;

}

.cart-item-product__name{
    margin: 10px 12px 10px 12px;
   
    overflow: hidden;
    height: 4rem;
    line-height: 2rem;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.cart-item-price{
    width: 10%;
    display: flex;
    justify-content: right;
}


.cart-item-total-price{
    width: 16%;
    display: flex;
}

.cart-item-action{
    width: 10%;

}
.btn-buy{
    font-weight: 300;
    width: 15%;
}
.cart-page-product-section__buy{
    padding: 10px 20px;
    background-color: var(--white-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    font-size: 1.4rem;
    margin-bottom: 20px;
    
}

.cart-item-product__quantity{
    color: var(--text-color-3);
    margin: 0 12px;
}
.section-header-box{
    display: flex;
    align-items: center;
    flex: 1;
}
.section-header-status{
    float: right;
    width: 11%;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid var(--border-color);
    color: var(--primary-color);
}