<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <footer class="footer1">
            <div class="grid1">
                <div class="grid__row grid__row--footer">
                    <div class="grid__col-2-4">
                        <h3 class="footer__heading">CHĂM SÓC KHÁCH HÀNG</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="#" class="footer__list-item-link">Trung Tâm Trợ Giúp</a>
                                <a href="#" class="footer__list-item-link">Bookpee Blog</a>
                                <a href="#" class="footer__list-item-link">Bookpee Mail</a>
                                <a href="#" class="footer__list-item-link">Hướng Dẫn Mua Hàng</a>
                                <a href="#" class="footer__list-item-link">Hướng Dẫn Bán Hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__col-2-4">
                        <h3 class="footer__heading">VỀ BOOKPEE</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="#" class="footer__list-item-link">Giới Thiệu Về Bookpee Việt Nam</a>
                                <a href="#" class="footer__list-item-link">Tuyển Dụng</a>
                                <a href="#" class="footer__list-item-link">Điều Khoản Bookpee</a>
                                <a href="#" class="footer__list-item-link">Chính Sách Bảo Mật</a>
                                <a href="#" class="footer__list-item-link">Liên Hệ Với Truyền Thông</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__col-2-4">
                        <h3 class="footer__heading">THANH TOÁN</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="#" class="footer__list-item-link">
                                    <img class="footer__list-item-link--img" src="./asset/img/visa.PNG" alt="">
                                </a>
                              
                            </li>
                        </ul>
                    </div>
                    <div class="grid__col-2-4">
                        <h3 class="footer__heading">THEO DÕI CHÚNG TÔI TRÊN</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="#" class="footer__list-item-link">
                                    <i class="fab fa-facebook"></i>
                                    <span>Facebook</span>
                                </a>

                                <a href="#" class="footer__list-item-link">
                                    <i class="fab fa-instagram-square"></i>
                                    <span>Instagram</span>
                                </a>
                              
                            </li>
                        </ul>
                       

                    </div>
                    {{!-- <div class="grid__col-2-4">
                        <h3 class="footer__heading">TẢI ỨNG DỤNG SHOPEE NGAY THÔI</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                              <div class="footer__list-item--download">
                                  <div class="">
                                      <img src="./asset/img/QRcode.png" alt="" class="footer__list-item-img">
                                  </div>
                                  <div class="">
                                      <img src="./asset/img/market.PNG" alt="" class="footer__list-item-img">
                                  </div>
                              </div>
                            </li>

                    </div> --}}
                </div>
            </div>
        </footer>
</body>
</html>